.root {
    -fx-padding: 10; /* Add a small padding around the window */
    padding: 10;     /* duplicated for compatibility */
}
.largeFont {
	font-size: 12pt;
	-fx-font-size: 20pt;
	/* -fx-font-size: 12pt; default */
}
.current {
    -fx-effect: dropshadow(three-pass-box, rgba(50,135,255,0.8), 4, 0.65, 0, 0);
 }