.root {
    -fx-padding: 10; /* Add a small padding around the window */
    padding: 10;     /* duplicated for compatibility */
}
.largeFont {
	font-size: 12pt;
	-fx-font-size: 40pt;
	/* -fx-font-size: 12pt; default */
}
.helpScreen {
    -fx-background-image: url("tileable_quantum_chess_background.png");
    -fx-background-color: #007FFF;
    -fx-text-fill: #D9A850;
}